.div5 {
    grid-template:
        "a b" 80% / 30% 70%;
    place-content: center;
}


.div5>div {
    font-size: 5rem;
    text-align: center;
    color: beige;
    /* border: 1px solid red;
    border-right: none; */
}

.div5>div>a {
    color: beige;
    border: 1px solid black;
    padding: 0 30%;
    background: radial-gradient(circle, #161c42 0%, #13162f 80%);
}

.div5>div>a:nth-child(3) {
    font-size: 25px;
    padding: 30px 10px;
    color: rgb(255, 102, 0);
    text-decoration: none;
}

.div5>form {
    /* border: 1px solid red; */
    place-content: center;
    outline: none;
}

.div5>form>input {
    width: 100%;
    height: 80px;
    display: block;
    margin: 5px 0px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(255, 102, 0);
    border-top: 1px solid rgb(255, 102, 0);
    border-radius: 5px;
    text-indent: 1rem;
}

.div5>form>textarea {
    width: 100%;
    max-width: 100%;
    height: 50%;
    padding: 0;
    border: 0;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border-bottom: 1px solid rgb(255, 102, 0);
    border-top: 1px solid rgb(255, 102, 0);
    border-radius: 5px;
    text-indent: 1rem;
}

.div5>form>input:nth-child(4) {
    text-align: center;
    background-color: #047c04;
    width: 100px;
    height: 20px;
    padding: 1rem;
    border: 0px;
    border-radius: 4px;
    text-indent: none;
}