@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

/* * {
    transition: all 0.3s ease-out;
} */

.div3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}

p.small {
    font-size: 14px;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #1E1E1E;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    /* background-color: #00838d; */
    border-radius: 0 4px 0 32px;
    transition: all 0.3s ease-out;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}


.card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    color: thistle;
    /* background-color: rgb(37, 37, 38); */
    /* background-color: #0e0e23; */
    background: radial-gradient(circle, #161c42 0%, #13162f 80%);
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #cccccc;
}

.card4 .go-corner {
    /* background-color: #00838d; */
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #7e108d 1%, #2adc33 100%);
}

.card4 .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
}

.card4:hover {
    border: 1px solid #2adc33;
}

.card4 h3 {
    margin-top: 8px;
}

.card4:hover .go-corner {
    margin-right: -12px;
}

.card4:hover .go-arrow {
    opacity: 1;
}