body {
  margin: 0;
  /* font-family: monospace; */
  display: grid;
  color: white;
  grid-template:
    "a b" 100vh / 150px;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
}

input {
  display: none
}

nav {
  grid-area: a;
  color: #7F7F7F;
  left: 0;
  z-index: 50;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 150px;
  /* background-color: #252526; */
  background-color: #0e0e23;
  /* background: rgb(6, 32, 1); */
  /* background: linear-gradient(180deg, rgba(6, 32, 1, 1) 5%, rgba(0, 0, 0, 1) 34%); */
  text-align: center;
  border-right: 1px solid #047c04;
}


.tabs>label:nth-child(1) {
  margin: 0 10% 0 5%;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  background: linear-gradient(to right, #047c04, rgb(255, 102, 0));
  -webkit-background-clip: text;
  color: transparent;
}


input:nth-of-type(1):checked~.tabs .tab1,
input:nth-of-type(2):checked~.tabs .tab2,
input:nth-of-type(3):checked~.tabs .tab3,
input:nth-of-type(4):checked~.tabs .tab4 {
  color: #047c04;
  /* border: 15px solid #047c04; */
  /* border-bottom: none; */
  /* border-top: none; */
}

.tooltip {
  /* color: #047c04; */
  position: relative;
  /* width: 100%; */
  /* height: 50px; */
}

.tooltip .tiptext {
  visibility: hidden;
  background-color: #100f0f;
  margin-top: 4px;
  padding: 0 5px;
  font-size: 2rem;
  z-index: 1;
  display: none;
  border-radius: 5px;
  left: 70%;
  top: -10%;
}

.tooltip:hover .tiptext {
  visibility: visible;
  display: initial;
  position: absolute;
}

.div1 {
  grid-area: b;
  width: 1fr;
  height: 100vh;
  /* background-color: #262626; */
  /* background: rgb(0, 0, 0); */
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(32, 11, 1, 1) 49%, rgba(0, 0, 0, 1) 100%); */
  overflow: hidden;
  position: relative;
}

.div2,
.div3,
.div4,
.div5 {
  position: absolute;
  left: 100%;
  width: calc(100vw - 150px);
  height: 100vh;
  /* background-color: #262626; */
  /* background-color: #1E1E1E; */
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(32, 11, 1, 1) 49%, rgba(0, 0, 0, 1) 100%); */
  transition-duration: 2s;
  transition-property: left;
  display: grid;
  overflow-y: auto;
  border-left: 1px solid #047c04;
  /* visibility: hidden; */
}





input:nth-of-type(1):checked~.div1 .div2,
input:nth-of-type(2):checked~.div1 .div3,
input:nth-of-type(3):checked~.div1 .div4,
input:nth-of-type(4):checked~.div1 .div5 {
  left: 0;
  z-index: 1;
  /* visibility: visible; */
}



@media (orientation: portrait) {
  .div2 {
    grid-template:
      "a" 1fr
      "d" 4fr
      "b" 1fr
      "c" 1fr / 1fr;
  }

  .div5 {
    grid-template:
      "a" 400px
      "b" 400px / 80%;
  }


  body {
    grid-template:
      "a" 100px
      "b" calc(100vh - 100px) / 1fr;
  }

  nav {
    flex-direction: row;
    height: 100px;
    width: 100%;
    place-items: center;
  }

  .div2,
  .div3,
  .div4,
  .div5 {
    width: 100%;
  }

  input:nth-of-type(1n-1):checked~.tabs .tooltip {
    border: none;
  }

  .tooltip .tiptext {
    left: -50%;
    top: 100%;
  }
}